* {
    box-sizing: border-box;
}

:root {
    --background-color: #121212;
    --accent-color: #F93943;
    --black-keys-color: #1C1C1C;
    --white-keys-color: #ececf1;
    --piano-width: 55vw;
    --piano-height: 30rem;
    --white-key-width: calc(var(--piano-width) * 2 / 14);
    --primary-text-color: #707070;
}

html, body {
    margin: 0;
    width: 100%;
}

html {
    font-size: 10px;
}

body {
    position: absolute;
    left: 0;
    font-family: 'Gantari', sans-serif;
    background-color: var(--background-color);
    height: 100vh;
    overflow: hidden;
    transition-duration: 0.25s;
}

input {
    position: absolute;
    opacity: 0;
    display: none;
    cursor: none;
    background: none;
}

header {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 8rem;
    padding: 0 5rem;
    font-size: 1.7rem;
    align-items: center;
    justify-content: space-between;
}

header a, .controls span, #menu img {
    transition-duration: 0.4s;
}

header a {
    background: transparent;
    padding: 0;
    color: var(--primary-text-color);
    text-decoration: none;
}

header > a:hover, .controls span:hover {
    color: #e6e6e6;
}

#menu {
    width: 2.35rem;
    cursor: pointer;
}

#menu img {
    width: 100%;
    filter: invert(1);
}

#menu:hover, #menu img:hover {
    filter: invert(0) brightness(140%) !important;
}

#menu-content {
    position: absolute;
    right: -30rem;
    bottom: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 30rem;
    z-index: 3;
    background-color: var(--background-color);
}

#menu-content a {
    padding: 2.5rem 1.5rem;
}

#menu-content a:hover {
    background-color: hsl(0, 0%, 12%);
}

.piano-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--piano-width);
}

#piano {
    position: relative;
    display: block;
    width: 100%;
    height: max-content;
}

#piano-form {
    height: var(--piano-height);
    width: var(--piano-width);
    position: relative;
}

.all-keys {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: stretch;
}

.white-key, .black-key {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    cursor: pointer;
    z-index: 1;
}

.white-key {
    background-color: var(--white-keys-color);
    width: var(--white-key-width);
    height: 100%;
    box-shadow: 0 0 0.12rem #1C1C1C inset;
    border-radius: 0 0 0.4rem 0.4rem;
    font-size: 2.25rem;
}

.all-black-keys {
    position: absolute;
    top: 0;
    left: 3.75rem;
    display: flex;
    flex-flow: row;
    width: calc(var(--piano-width) - var(--white-key-width) / 1.5);
    justify-content: space-between;
    height: 100%;
}

.black-key-2-group, .black-key-3-group {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
}

.black-key-2-group {
    justify-content: space-between;
    width: 13%;
}

.black-key-3-group {
    justify-content: space-between;
    width: 21%;
}

.black-key {
    background-color: var(--black-keys-color);
    display: inline-block;
    width: 3.75rem;
    height: 58%;
    font-size: 1.9rem;
    border-radius: 0 0 0.4rem 0.4rem;
    box-shadow: 0 0.2rem 0.35rem rgb(0,0,0,0.4);
}

.white-key input + span, .black-key input + span {
    content: "";
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2rem;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.4rem 0.4rem;
    z-index: 1;
}

.white-key input[type="checkbox"]:checked + span {
    background: var(--accent-color);
}

.black-key input[type="checkbox"]:checked + span {
    background: var(--accent-color);
}

.white-key input + span {
    color: #121212;
    font-size: 2.2rem;
}

.black-key input + span {
    font-size: 0;
}