* {
    box-sizing: border-box;
}

:root {
    --background-color: #121212;
    --accent-color: #F93943;
    --black-keys-color: #1C1C1C;
    --white-keys-color: #ececf1;
    --piano-width: 100vw; /* change in media screen for responsiveness*/
    --piano-height: 15.75rem;
    --white-key-width: calc(var(--piano-width) * 2 / 88);
    --primary-text-color: #707070;
    /* --screen-display-color: ; */
}

html, body {
    margin: 0;
    width: 100%;
}

html {
    font-size: 10px;
}

body {
    position: absolute;
    left: 0;
    font-family: 'Gantari', sans-serif;
    background-color: var(--background-color);
    height: 100vh;
    overflow: hidden;
    transition-duration: 0.25s;
}

input {
    position: absolute;
    opacity: 0;
    display: none;
    cursor: none;
    background: none;
}

header {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 8rem;
    padding: 0 5rem;
    font-size: 1.7rem;
    align-items: center;
    justify-content: space-between;
}

header a, .controls span, #menu img {
    transition-duration: 0.4s;
}

header a {
    background: transparent;
    padding: 0;
    color: var(--primary-text-color);
    text-decoration: none;
}

header > a:hover, .controls span:hover, .controls input:checked + span {
    color: #e6e6e6;
}

#menu {
    width: 2.35rem;
    cursor: pointer;
}

#menu-content {
    position: absolute;
    right: -30rem;
    bottom: 0;
    top: 2%;
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 30rem;
    z-index: 3;
    background-color: var(--background-color);
}

#menu-content a {
    padding: 2.5rem 1.5rem;
}

#menu-content a:hover {
    color: #e6e6e6;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35rem;
    margin: 0 3rem;
    color: var(--primary-text-color);
}

.controls span {
    cursor: pointer;
}

.piano-container {
    position: absolute;
    display: block;
    width: var(--piano-width);
    height: var(--piano-height);
    bottom: 4%;
}

#all-keys {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: stretch;
}

.white-key, .black-key {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    z-index: 1;
    padding-bottom: 1rem;
    font-size: 0;
    outline: none;
    border: transparent;
    font-family: inherit;
    filter: invert(0);
}

.white-key {
    background-color: var(--white-keys-color);
    width: var(--white-key-width);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0.12rem #1C1C1C inset;
    border-radius: 0 0 0.4rem 0.4rem;
    
}

.all-black-keys {
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: row;
    width: calc(var(--piano-width) - var(--white-key-width) * 1.375);
    justify-content: space-between;
    left: 0;
    height: 100%;
}

/* key A0 */
.black-key-2-group:first-child {
    width: max-content !important;
    margin-left: 2.25rem;
}

.black-key-2-group, .black-key-3-group {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
}

.black-key-2-group {
    justify-content: space-between;
    width: 3.4%;
}

.black-key-3-group {
    justify-content: space-between;
    width: 5.575%;
}

.black-key {
    background-color: var(--black-keys-color);
    display: inline-block;
    width: 1.8rem;
    height: 58%;
    border-radius: 0 0 0.4rem 0.4rem;
    box-shadow: 0 0.15rem 0.25rem rgb(0,0,0,0.4);
}