* {
    box-sizing: border-box;
}

:root {
    --background-color: #121212;
    --accent-color: #F93943;
    --black-keys-color: #1a1a1a;
    --white-keys-color: #ececf1;
    --piano-height: 23.5vh;
    --piano-width: 100vw;
    --white-key-width: calc(var(--piano-width) * 2 / 88);
    --black-key-width: calc(var(--white-key-width) / 1.95);
    --primary-text-color: #757575;
}

html, body {
    margin: 0;
    width: 100%;
}

html {
    font-size: 10px;
}

body {
    position: absolute;
    left: 0;
    font-family: 'Gantari', sans-serif;
    background-color: var(--background-color);
    height: 100vh;
    overflow: hidden;
    transition-duration: 0.25s;
}

input {
    position: absolute;
    opacity: 0;
    display: none;
    cursor: none;
    background: none;
}

header {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 11rem;
    padding: 0 5rem;
    font-size: 1.8rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

header a, .controls span, #menu img {
    transition-duration: 0.4s;
}

header a {
    background: transparent;
    padding: 0;
    color: var(--primary-text-color);
    text-decoration: none;
}

.controls input:checked + span {
    color: #e6e6e6;
}

#menu {
    width: 2.35rem;
    cursor: pointer;
}

#menu-content {
    position: absolute;
    right: -30rem;
    bottom: 0;
    top: 2%;
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 30rem;
    z-index: 3;
    background-color: var(--background-color);
    display: none !important;
}

#menu-content a {
    padding: 2.5rem 1.5rem;
}

#menu-content a:hover {
    color: #e6e6e6;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 52rem;
    margin: 0 3rem;
    color: var(--primary-text-color);
}

.controls span {
    cursor: pointer;
}

.piano-container {
    position: absolute;
    display: block;
    width: var(--piano-width);
    height: var(--piano-height);
    bottom: 3%;
}

#piano {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: stretch;
}

.note {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    z-index: 1;
    padding-bottom: 1.1rem;
    font-size: 0;
    outline: none;
    border: transparent;
    font-family: inherit;
    filter: invert(0);
}

.white-key {
    width: var(--white-key-width);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0.12rem #1C1C1C inset;
    border-radius: 0 0 0.425rem 0.425rem;
    color: var(--black-keys-color);
}

.all-black-keys {
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: row;
    width: calc(var(--piano-width) - var(--white-key-width) * 1.375);
    justify-content: space-between;
    left: 0;
    height: 100%;
}

/* key A0 */
.black-key-2-group:first-child {
    width: max-content !important;
    margin-left: 1.35vw;
}

.black-key-2-group, .black-key-3-group {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
}

.black-key-2-group {
    justify-content: space-between;
    width: 3.25%;
}

.black-key-3-group {
    justify-content: space-between;
    width: 5.575%;
}

.black-key {
    background-color: var(--black-keys-color);
    width: var(--black-key-width);
    height: 59%;
    border-radius: 0 0 0.425rem 0.425rem;
    box-shadow: 0 0.15rem 0.25rem rgb(0,0,0,0.4);
    color: var(--white-keys-color);
}

.key-bkg-color {
    background-color: var(--accent-color) !important;
}

@media screen and (orientation: landscape) and (max-device-height: 400px) {
    :root {
        --piano-height: 32vw;
        --piano-width: 2900px;
        --black-key-width: calc(var(--white-key-width) / 1.75);
    }
    header {
        top: 5%;
        height: 5rem;
        font-size: 1.5rem;
        width: 100%;
        padding: 0;
    }
    .piano-container {
        bottom: 6%;
    }
    .black-key-2-group:first-child {
        margin-left: 3.65rem;
    }
}

@media screen and (orientation: landscape) and (min-device-height: 401px) and (max-device-height: 600px) {
    :root {
        --piano-height: 32vw;
        --piano-width: 2880px;
        --black-key-width: calc(var(--white-key-width) / 1.7);
    }
    header {
        top: 5%;
        height: 5rem;
        font-size: 1.5rem;
        width: 100%;
        padding: 0;
    }
    .piano-container {
        bottom: 6%;
    }
    .black-key-2-group:first-child {
        margin-left: 3.5rem;
    }
}

@media screen and (orientation: landscape) and (min-device-height: 601px) and (max-device-height: 745px) {
    :root {
        --piano-height: 35vw;
        --piano-width: 3600px;
        --black-key-width: calc(var(--white-key-width) / 1.7);
    }
    header {
        top: 5%;
        height: 5rem;
        font-size: 1.5rem;
        width: 100%;
        padding: 0;
    }
    .piano-container {
        bottom: 6%;
    }
    .black-key-2-group:first-child {
        margin-left: 4.5rem;
    }
}

@media screen and (orientation: landscape) and (max-device-width: 1024px) and (min-device-height: 746px) and (max-device-height: 1024px) {
    :root {
        --piano-height: 35vw;
        --piano-width: 4800px;
        --black-key-width: calc(var(--white-key-width) / 1.7);
    }
    header {
        top: 5%;
        height: 5rem;
        font-size: 1.5rem;
        width: 100%;
        padding: 0;
    }
    .piano-container {
        bottom: 6%;
    }
    .black-key-2-group:first-child {
        margin-left: 6.1rem;
    }
}

@media screen and (orientation: portrait) and (max-device-width: 400px) {
    :root {
        --piano-height: 34vh;
        --piano-width: 2400px;
        --black-key-width: calc(var(--white-key-width) / 1.7);
    }
    header {
        top: 5%;
        height: 5rem;
        font-size: 1.5rem;
        width: 100%;
    }
    .controls {
        width: 35rem;
    }
    .piano-container {
        bottom: 6%;
    }
    .black-key-2-group:first-child {
        margin-left: 3rem;
    }
}

@media screen and (orientation: portrait) and (min-device-width: 401px) and (max-device-width: 600px) {
    :root {
        --piano-height: 31vh;
        --piano-width: 2880px;
        --black-key-width: calc(var(--white-key-width) / 1.75);
    }
    header {
        top: 5%;
        height: 5rem;
        font-size: 1.5rem;
        width: 100%;
        padding: 0;
    }
    .piano-container {
        bottom: 6%;
    }
    .black-key-2-group:first-child {
        margin-left: 3.5rem;
    }
}

@media screen and (orientation: portrait) and (min-width: 601px) and (max-width: 745px) {
    :root {
        --piano-height: 35vh;
        --piano-width: 3600px;
        --black-key-width: calc(var(--white-key-width) / 1.7);
    }
    header {
        top: 5%;
        height: 5rem;
        font-size: 1.5rem;
        width: 100%;
        padding: 0;
    }
    .piano-container {
        bottom: 4%;
    }
    .black-key-2-group:first-child {
        margin-left: 4.25rem;
    }
}

@media screen and (orientation: portrait) and (min-width: 746px) and (max-width: 1280px) {
    :root {
        --piano-height: 35vh;
        --piano-width: 4000px;
        --black-key-width: calc(var(--white-key-width) / 1.65);
    }
    header {
        top: 5%;
        height: 5rem;
        font-size: 1.5rem;
        width: 100%;
        padding: 0;
    }
    .piano-container {
        bottom: 4%;
    }
    .black-key-2-group:first-child {
        margin-left: 5rem;
    }
}

@media screen and (max-device-width: 1366px) {
    body {
        overflow-x: scroll;
    }
}