* {
    box-sizing: border-box;
}

:root {
    --primary-bkg-color: #121212;
    --secondary-bkg-color: #1a1a1b;
    --primary-text-color: #dbdbdb;
    --secondary-text-color: #989898;
    --accent-color: #7678ED;

    --piano-width: max(110rem, 80vw);
    --piano-height: calc(var(--piano-width) * 0.255);
}

html, body {
    margin: 0;
    width: 100%;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Gantari', sans-serif;
    transition-duration: 0.25s;
    background: var(--primary-bkg-color);
    overflow-x: hidden;
}

h1, h3 {
    color: var(--primary-text-color);
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 3.5rem;
}

p, li {
    color: var(--secondary-text-color);
    font-size: 2rem;
    line-height: 1.5em;
}

li {
    margin: 2vh 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    position: relative;
}

a:hover {
    text-decoration: underline;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    display: none;
    cursor: none;
    background: none;
}

.disabled {
    display: none !important;
}

/* Recording */
#recording-window {
    display: flex;
    flex-flow: column;
    padding: 2vh 1vw;
    width: 25vw;
    background: #e0e0e0;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    z-index: 5;
}

#recording-title {
    outline: none;
    border-color: transparent;
    border-radius: 0.5rem;
    color: var(--primary-bkg-color);
    background: #dbdbdb;
    padding: 1vh 0.75vw;
    font-size: 1.5rem;
    font-family: inherit;
}

#download-btn {
    text-align: center;
    color: #252525;
    font-family: inherit;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    margin-top: 1vh;
    padding: 1vh 0;
    font-weight: 500;
    font-size: 1.7rem;
}

#download-btn:hover {
    color: var(--accent-color);
}

#home {
    height: 100vh;
}

.overlay {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.6);
    z-index: 3;
}

/* Header */
.controls, .controls a {
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--primary-text-color);
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5vh 7vw;
}

/* Recording */
#record-btn + span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 2.5vw;
    cursor: pointer;
    border-radius: 0.3rem;
    outline: none;
}

.record-off {
    background: var(--accent-color);
    color: var(--primary-text-color);
    font-weight: 600;
    border: none;
}

.record-on {
    background: transparent;
    color: var(--accent-color);
    font-weight: 500;
    border: 0.3rem solid var(--accent-color);
}

/* Instruments */
.instruments-select {
    width: 29vw;
    border: transparent;
    outline: none;
    text-indent: 1em;
    position: relative;
}

#selected, #instrument-options div {
    color: var(--primary-text-color);
    background: var(--secondary-bkg-color);
    padding: 2vh 0;
    width: 100%;
    text-indent: 1.6em;
    cursor: pointer;
}

#selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3rem;
}

.up-arrow::after, .down-arrow::after {
    content: "";
    display: block;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    margin-right: 1.25vw;
}

.down-arrow::after {
    border-top: 0.75rem solid var(--primary-text-color);
    border-bottom: 0;
}

.up-arrow::after {
    border-bottom: 0.75rem solid var(--primary-text-color);
    border-top: 0;
}

#instrument-options {
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.2);
    border-radius: 0.3rem;
}

#instrument-options div:first-child {
    border-top: none;
    border-radius: 0.3rem 0.3rem 0 0;
}

#instrument-options div:last-child {
    border-radius: 0 0 0.3rem 0.3rem;
}

#instrument-options div:hover {
    background: #252525;
}

/* Audio Effects */
.effects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-text-color);
    width: 23vw;
}

.effects span {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.effects input:checked + span {
    color: var(--accent-color);
}

/* Piano */
.piano-container {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: max-content;
    margin-top: 16vh;
    overflow-x: auto;
}

#piano {
    position: relative;
    width: var(--piano-width);
    height: var(--piano-height);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.black-key, .white-key {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    z-index: 1;
    padding-bottom: 2.5rem;
    font-size: 0;
    outline: none;
    border: transparent;
    font-family: inherit;
}

.white-key {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0.15rem #959595 inset, 
                0 0 0.15rem #959595 inset;
    background: #f2f2f2;
    border-radius: 0 0 0.6rem 0.6rem;
    position: relative;
    color: #222;
}

.black-key {
    background: #222;
    box-shadow: 0 0 0.2rem rgb(0,0,0,0.3);
    width: calc(var(--piano-width) / 35);
    height: 62.5%;
    border-radius: 0 0 0.5rem 0.5rem;
    position: relative;
    color: #959595;
}

.all-black-keys {
    position: absolute;
    top: -0.4%;
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0 7.4% 0 3%;
    justify-content: space-between;
    left: 0;
    height: 100%;
}

.black-key-2-group, .black-key-3-group {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
}

.black-key-2-group {
    justify-content: space-between;
    width: 8.7%;
}

.black-key-3-group {
    justify-content: space-between;
    width: 14%;
}

/* When keys are pressed this class is added to the key */
.key-bkg-color {
    background: #a5a5a5 !important;
    color: #fff !important;
}

/* Octave Range */
.octave-controls {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#octave-range {
    color: var(--primary-text-color);
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 500;
}

#octave-down-btn, #octave-up-btn {
    width: 0;
    height: 0;
    outline: none;
    content: "";
    padding: 0;
    background: transparent;
    border-top: 0.65rem solid transparent;
    border-bottom: 0.65rem solid transparent;
    cursor: pointer;
}

#octave-down-btn {
    border-right: 1rem solid var(--primary-text-color);
    border-left: none;
    margin-left: 41.5vw;
}

#octave-up-btn {
    border-left: 1rem solid var(--primary-text-color);
    border-right: none;
    margin-right: 41.5vw;
}

#info {
    padding: 4vh 18vw;
}

#info div {
    padding: 2.5vh 0;
}

footer {
    padding: 4vh 0 8vh;
    text-align: center;
    font-size: 1.7rem;
    color: var(--secondary-text-color);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 599px) {
    :root {
        --piano-height: 62vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
    .piano-container {
        align-items: flex-start;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}