@use '../assets/styles/variables.scss';

.overlay {
  background: variables.$black-80;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.loading-icon {
  width: 4%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 1.5s linear infinite turn-logo;
}

@keyframes turn-logo {
  from {
    transform: translate(-50%, -50%) rotateZ(0);
  }
  to {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
