@use './assets/styles/variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background: variables.$background;
  height: 100%;
  font-family: variables.$font-main;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow-x: visible;
  overflow-y: hidden;
}

p,
button {
  font-family: inherit;
  font-weight: 400;
}

button {
  outline: none;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-btwn {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.center-self {
  /* horizontally center */
  margin: auto;

  /* vertically center */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
