:root {
  --black: rgba(21, 25, 29, 100%);
  --black-80: rgba(21, 25, 29, 90%);
  --font-size-base: clamp(0.88rem, 0.26vw + 0.8rem, 1.04rem);
  --font-size-md: clamp(1.3rem, 0.44vw + 1.19rem, 1.54rem);
  --font-size-lg: clamp(1.69rem, 0.58vw + 1.55rem, 2.01rem);
  --font-main: "Noto Sans Mono", monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: #202020;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow-x: visible;
  overflow-y: hidden;
}

h2,
h3 {
  color: var(--black);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

p {
  font: 400 var(--font-size-base) var(--font-main);
  color: var(--black-90);
}

input {
  position: absolute;
  opacity: 0;
  display: none;
  cursor: none;
  background: none;
}

button {
  outline: none;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-space-btwn {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}
