:root {
  --black: rgba(21, 25, 29, 100%);
  --black-80: rgba(21, 25, 29, 90%);
  --dark-blue: rgba(34, 35, 41, 100%);
  --dark-blue-25: rgba(34, 35, 41, 25%);
  --light-blue: rgba(191, 209, 218, 100%);
  --gray: rgba(175, 175, 175, 100%);
  --font-size-base: clamp(0.88rem, 0.26vw + 0.8rem, 1.04rem);
  --font-size-md: clamp(1.3rem, 0.44vw + 1.19rem, 1.54rem);
  --font-size-lg: clamp(1.69rem, 0.58vw + 1.55rem, 2.01rem);
  --font-main: "Noto Sans Mono", monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: #202020;
  height: 100%;
  font-family: var(--font-main);
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow-x: visible;
  overflow-y: hidden;
}

p,
button {
  font-family: inherit;
  font-weight: 400;
}

button {
  outline: none;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

input {
  position: absolute;
  opacity: 0;
  display: none;
  background: none;
  cursor: none;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-btwn {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}
