@use './assets/styles/variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background: variables.$background;
  height: 100%;
  font-family: variables.$font-main;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow-x: visible;
  overflow-y: hidden;
}

p,
button {
  font-family: inherit;
  font-weight: 400;
}

button {
  outline: none;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
