* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --primary-text-color: #fff;
    --secondary-text-color: #dadada;
    --piano-width: 80vw;
    --piano-height: calc(var(--piano-width) * 0.24);
}

html, body {
    margin: 0;
    width: 100%;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Mulish', sans-serif;
    background: #101010;
    background-blend-mode: overlay;
    justify-content: center;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-text-color);
}

h1 {
    font-size: clamp(4.5rem, 3.5vw, 7.5rem);
}

h4 {
    font-size: clamp(0.85rem, 0.825vw, 2.75rem);
}

input {
    position: absolute;
    opacity: 0;
    display: none;
    cursor: none;
    background: none;
}

button {
    outline: none;
}

.flex {
    display: flex;
}

.flex-column {
    flex-flow: column;
    align-items: center;
}



/* ------------------- Piano ------------------- */

.piano-container {
    touch-action: manipulation;
    background-image: url('../../docs/image.png'), linear-gradient(to bottom, #1a191b, #201d23);
    background-blend-mode: overlay;
    padding: 0 3.5vw;
    position: relative;
    box-shadow: 0 7rem 10rem rgba(0, 0, 0, 0.7);
}




/* Trapezoid at bottom of keyboard */

.piano-container::after {
    content: "";
    display: block;
    background: transparent;
    position: absolute;
    left: 0;
    bottom: -2.25vh;
    height: 0;
    width: calc(100% - 5vw);
    border-top: 2.25vh solid #111;
    border-left: 2.5vw solid transparent;
    border-right: 2.5vw solid transparent;
}

#piano {
    position: relative;
    width: var(--piano-width);
    height: var(--piano-height);
    justify-content: space-between;
}

.black-key, .white-key {
    justify-content: flex-end;
    cursor: pointer;
    padding-bottom: 2.5rem;
    font-size: 0;
    float: left;
    outline: none;
    border: transparent;
    font-family: inherit;
}

.white-key {
    flex: 1 1 0;
    height: 100%;
    border-radius: 0 0 0.6rem 0.6rem;
    color: #222;
    background: linear-gradient(to bottom,#e0e0e0 0%,#f2f2f2 100%);
    box-shadow: -0.1rem 0 0 rgba(255,255,255,0.8) inset,
                0 0 0.1rem #121212 inset,
                0 0 0.3rem rgba(0,0,0,0.2);
}

.black-key {
    width: calc(var(--piano-width) * 0.028);
    height: 60%;
    border-radius: 0 0 0.5rem 0.5rem;
    z-index: 1;
    color: #959595;
    margin-left: calc(var(--piano-width) * -0.028 / 2);
    background: linear-gradient(to bottom,#3a3a3a 0%,#1a1a1a 100%);
    box-shadow: -0.1rem -0.1rem 0.2rem rgba(255,255,255,0.2) inset,
                0 -0.1rem 0.2rem 0.3rem rgba(0,0,0,0.6) inset,
                0 0.15rem 0.35rem rgba(0,0,0,0.5)
}

.black-key + .white-key {
    margin-left: calc(var(--piano-width) * -0.028 / 2);
}


/* When keys are pressed this class is added to the key */

.pressed-key, 
button[name="piano-key"]:active {
    background: #a5a5a5 !important;
    color: #fff !important;
}







/* ------------------- Controls ------------------- */

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(var(--piano-width) * 0.19);
    width: var(--piano-width);
    padding: 2.25% 0;
}

.round-btn-container, .rect-btn-container {
    height: 100%;
    width: 100%;
    align-self: center;
}

.rect-btn-container {
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 2.5%;
}



/* All Buttons */

.btn-container {
    height: max-content;
    width: 33%;
    justify-content: flex-end;
}

.label {
    align-items: flex-end;
    font-family: inherit;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.rect-btn, .round-btn {
    margin: 0 0 15%;
}




/* Rectangular Buttons */

.rect-btn {
    cursor: pointer;
    display: block;
    padding: calc(var(--piano-width) * 0.009) calc(var(--piano-width) * 0.0235);
    border-radius: 0.25rem;
    background: #322D38;
    box-shadow: 0.05rem 0.5rem 0.9rem #0A090B8E,
                0.021rem 0.2rem 0.2rem #38333F inset,
                -0.021rem -0.244rem 0.245rem #2A262F inset;
}


/* Round Buttons */

.round-btn {
    cursor: pointer;
    display: block;
    content: "";
    padding: calc(var(--piano-width) * 0.021);
    border-radius: 50%;
    background: linear-gradient(154deg, #403948 0%, #18161C 74.79%);
    box-shadow: 0.23rem 0.47rem 1.05rem rgba(9, 8, 11, 0.8), 
                inset -0.15rem -0.3rem 0.35rem #131115,
                inset 0.15rem 0.3rem 0.35rem #463E4E;
}




/* Change look of checked button */

input[type="checkbox"]:checked + span .round-btn {
    background: linear-gradient(26deg, #403948 0%, #18161C 74.79%);
}

.rect-btn:active {
    background: #252129;
}





/* Screen */

.screen {
    content: "";
    display: block;
    border-radius: 0.92rem;
    background: linear-gradient(143deg, #0e0e11 0%, #101012 100%);
    box-shadow: -0.69rem -0.916rem 1.147rem #19191c80 inset,
                0.69rem 0.916rem 1.147rem #06060680 inset;
}