@use '~/styles/_variables.scss';

.instrument-btn {
  padding: 0.45em 1.125em;
  background: variables.$blue;
  color: variables.$off-white;
  border-radius: 0.25em;
  border: 0.275em solid rgba(140, 162, 175, 100%);
  text-align: center;
  margin: 0;
  font-size: variables.$font-size-base;
  cursor: pointer;
  white-space: nowrap;

  & input:checked + .instrument-btn {
    filter: brightness(50%);
  }
}
