.control-btn {
  padding: 0.45em 1.125em;
  background: var(--light-blue);
  color: var(--black);
  border-radius: 0.25em;
  text-align: center;
  margin: 0;
  font-size: var(--font-size-base);
  cursor: pointer;
  white-space: nowrap; /* disable text wrapping inside button */
}

.control-btn-container input:checked ~ .control-btn {
  filter: brightness(80%);
}
