.control-btn__design {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--black);
  opacity: 0.225;
  border-radius: 0.25rem;
}

.control-btn__title {
  align-items: flex-end;
  text-align: center;
  margin: 0;
}
