@use '~/styles/utils.scss';

$spacing-between-piano-keys: 0.3rem;
$wrapper-radius: 1.2rem;
$white-key-border-radius: utils.get-radius-for-wrapper-items($wrapper-radius);

.piano-keys-wrapper {
  flex: 1;
  display: flex;
  padding: $spacing-between-piano-keys;
  border-radius: $wrapper-radius;
  background: #1a1a1a;
  touch-action: none;
  -ms-touch-action: none;
  box-shadow: 0 0.4em 1em #00000040;
}

.piano-key--white {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1em;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #9c9c9c;
  background: linear-gradient(#DCDCDC, #F7F7F7);
  margin-right: $spacing-between-piano-keys;
  border-radius: 0 0 $white-key-border-radius $white-key-border-radius;
  box-shadow: 0 0.25em 0.8em #0000004d;

  &:first-child {
    margin-left: 0;
    border-top-left-radius: $white-key-border-radius;
  }

  &:last-child {
    margin-right: 0;
    border-top-right-radius: $white-key-border-radius;
  }

  &.pressed-piano-key {
    background: linear-gradient(#a9a9a9, #c4c4c4);
    color: #555558;
  }
}

$black-key-border-radius: $white-key-border-radius * 0.9;
$black-key-width: 2%;

.piano-key--black {
  width: $black-key-width;
  background: #3b3b3b;
  height: 55%;
  z-index: 0;
  border: 0.15em solid #171717;
  box-shadow: 0 0.75em 0.75em #00000033;
  border-radius: 0 0 $black-key-border-radius $black-key-border-radius;
  position: relative;
  overflow: hidden;

  /*
    Used for the different colors inside the black piano keys.

    The gradient has to be a separate element in order for the bottom curve
    to be accurate to the original design.
  */
  &:after {
    content: "";
    background: linear-gradient(#121212, #232323);
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 96.5%;
    border-radius: 0 0 0 0.625em;
  }

  &.pressed-piano-key {
    background: #4f4f4f;
  }
}

/*
  Position the black keys between its neighboring white keys.
*/
.piano-key--black,
.piano-key--black+.piano-key--white {
  margin-left: calc($black-key-width / -2);
}