.piano-key {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  padding-bottom: 1em;
  text-transform: uppercase;
  border: 0.125rem solid rgba($dark-blue, $op-high);
  font-size: $font-size-md;
}

.white-key {
  width: 100%;
  color: rgba($dark-blue, $op-medium);
  background: $off-white;
}

.black-key {
  width: 40%;
  height: 60%;
  z-index: 1;
  background: $dark-blue;
  margin: 0 -1.25% 0;
  color: $off-white;
}

.pressed-piano-key {
  background: $gray !important;
  color: $dark-blue !important;
}
