@use '~/styles/utils.scss';

$btn-spacing--container: 0.2rem;
$btn-spacing--item: utils.calculateButtonSpacing($btn-spacing--container);

$border-radius--container: 0.9rem;
$border-radius--item: utils.calculateBorderRadius($border-radius--container);

.octave-control-panel {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;

  &__label {
    font-size: 1.25em;
    color: utils.$c-text-primary;
    margin-bottom: 0;
  }
}

.octave-btn-container {
  flex: 1;
  display: flex;
  flex-flow: column;
  background: rgb(191, 191, 191);
  padding: $btn-spacing--container;
  border-radius: $border-radius--container;
}

.octave-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(240, 240, 240);
  width: 3.25em;
  border-radius: $border-radius--item;
  border-width: 0.2em;
  border-style: solid;

  &:first-child {
    border-top-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    margin-bottom: $btn-spacing--item;
  }

  &:last-child {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    margin-top: $btn-spacing--item;
  }

  &:active {
    filter: brightness(0.9);
    transition-timing-function: ease-out;
    transition-duration: 100ms;
  }

  &__icon {
    color: rgb(129, 129, 129);
    font-size: 0.5em;

    &:last-child {
      transform: rotate(180deg);
    }
  }
}