@use '~/styles/_variables.scss';

$btn-spacing: 0.3rem;

.octave-controls {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.octave-controls__arrow-btns {
  flex: 1;
  display: flex;
  flex-flow: column;
  background: #BFBFBF;
  padding: $btn-spacing;
  overflow: hidden;
}

.octave-controls__arrow-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F0F0F0;
  width: 4em;
  border-radius: 1.25rem;

  &:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: calc($btn-spacing / 2);
  }

  &:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: calc($btn-spacing / 2);
  }
}

.octave-controls__arrow-icon {
  color: #818181;
  font-size: 0.625em;
}
