@use '~/styles/_variables.scss';

.octave-controls {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.octave-controls__arrow-btns {
  flex: 1;
  display: flex;
  flex-flow: column;
  background: rgb(191, 191, 191);
  padding: variables.$btn-spacing--container;
  border-radius: variables.$border-radius--container;
}

.octave-controls__arrow-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(240, 240, 240);
  width: 3.25em;
  border-radius: variables.$border-radius--item;
  border-width: 0.2em;
  border-style: solid;

  &:first-child {
    border-top-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: variables.$btn-spacing--item;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: variables.$btn-spacing--item;
  }

  &:active {
    filter: brightness(0.9);
    transition-timing-function: ease-out;
    transition-duration: 0.1s;
  }
}

.octave-controls__arrow-icon {
  color: rgb(129, 129, 129);
  font-size: 0.55em;
}

.octave-controls__label {
  font-size: 1.25em;
  color: variables.$color-text-primary;
}
