@use '~/styles/_variables.scss';

.octave-controls {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.octave-controls__arrow-btns {
  flex: 1;
  display: flex;
  flex-flow: column;
  background: #BFBFBF;
  padding: variables.$btn-spacing--parent;
  border-radius: variables.$border-radius--parent;
}

.octave-controls__arrow-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F0F0F0;
  width: 3.25em;
  border-radius: variables.$border-radius--child;
  border-width: 0.2em;
  border-style: solid;

  &:first-child {
    border-top-color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: variables.$btn-spacing--child;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: variables.$btn-spacing--child;
  }

  &:active {
    filter: brightness(0.9);
    transition-duration: 0.1s;
  }
}

.octave-controls__arrow-icon {
  color: #818181;
  font-size: 0.55em;
}

.octave-controls__label {
  font-size: 1.25em;
  color: variables.$c-text-primary;
}
