.popup {
    background: var(--gray);
    z-index: 10;
    width: clamp(30.38rem, 2.59vw + 27.79rem, 36.07rem);
    height: clamp(30.38rem, 2.59vw + 27.79rem, 36.07rem);
    border-radius: 0.5rem;
    padding: 1%;
}

.popup__title {
    font-size: var(--font-size-md);
    text-align: center;
}

.popup__text {
    font-size: var(--font-size-base);
}

.popup__close-btn {
    font-size: var(--font-size-sm);
}
