.keyboard-container {
  width: max-content;
  height: max-content;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.keyboard {
  touch-action: manipulation;
  background: #fff;
  padding: 2rem 3rem;
  width: 115rem;
  height: 35rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.top-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
}

.bottom-row {
  height: 100%;
  margin-top: 3%;
  display: grid;
  grid-template-columns: 5rem 15fr;
  column-gap: 3rem;
}
