@use '~/styles/utils.scss';

$btn-wrapper-padding: 0.2rem;
$spacing-between-btns: calc($btn-wrapper-padding / 2);

$btn-wrapper-border-radius: 0.9rem;
$btn-border-radius: utils.get-radius-for-wrapper-items($btn-wrapper-border-radius);

.octave-controls-wrapper {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;

  &__label {
    font-size: 1.25em;
    color: utils.$c-text-primary;
    margin-bottom: 0;
  }
}

.octave-btns-wrapper {
  flex: 1;
  display: flex;
  flex-flow: column;
  background: utils.$c-bg-btn--border;
  padding: $btn-wrapper-padding;
  border-radius: $btn-wrapper-border-radius;
}

.octave-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: utils.$c-bg-btn;
  width: 3.25em;
  border-radius: $btn-border-radius;
  border-width: 0.15em;
  border-style: solid;

  &:first-child {
    border-top-color: #ffffff;
    border-top-width: 0.1em;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    margin-bottom: $spacing-between-btns;
  }

  &:last-child {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    margin-top: $spacing-between-btns;
  }

  &:active {
    filter: brightness(0.9);
    transition-timing-function: ease-out;
    transition-duration: 100ms;
  }
}

.arrow-icon {
  color: #818181;
  font-size: 0.75em;
}
