@use '~/styles/_variables.scss';

.piano-keys {
  width: 100%;
  display: flex;
  padding: variables.$btn-spacing--container;
  border-radius: variables.$border-radius--container;
  background: rgb(26, 26, 26);
  touch-action: none;
}

.piano-key--white,
.piano-key--black {
  border-radius: 0 0 variables.$border-radius--item variables.$border-radius--item;

  &:first-child {
    border-top-left-radius: variables.$border-radius--item;
  }

  &:last-child {
    border-top-right-radius: variables.$border-radius--item;
  }
}

.piano-key--white {
  color: rgb(21, 26, 30);
  background: linear-gradient(rgb(219, 219, 219), rgb(247, 247, 247));
  flex: 1;
  margin: 0 calc(variables.$btn-spacing--item * 2);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &+.piano-key--white {
    margin-left: 0;
  }
}

$black-key-width: 2%;

.piano-key--black {
  width: $black-key-width;
  background: rgb(23, 23, 23);
  height: 60%;
  z-index: 10;
  border-bottom: 0.3em solid rgb(59, 59, 59);
  box-shadow: 0 0.7em 0.7em rgba(0, 0, 0, 0.5);
}

.piano-key--black,
.piano-key--black+.piano-key--white {
  margin-left: calc($black-key-width / -2);
}