.spinner-wrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  z-index: 999999;
  transition-duration: 2s;
}

.spinner {
  width: max-content;
}