@use '~/styles/utils.scss';

$dropdown-border-radius: 0.9rem;
$option-border-radius: utils.get-radius-for-wrapper-items($dropdown-border-radius);
$option-height: 1rem;

.instrument-dropdown {
  color: utils.$c-text-primary;
  font-size: 1.25em;
  flex: 0.25 1 0;
  background: utils.$c-bg-btn;
  border-radius: $dropdown-border-radius;
  border: 0.16em solid utils.$c-bg-btn--border;
  cursor: pointer;
  position: relative;

  &__selected {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: $option-height;
  }

  &__options {
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 100%;
    background: utils.$c-bg-btn;
    border-radius: $dropdown-border-radius;
    border: 0.16em solid utils.$c-bg-btn--border;
  }

  &__option {
    padding: $option-height;

    &:first-child {
      border-top-right-radius: $option-border-radius;
      border-top-left-radius: $option-border-radius;
    }

    &:last-child {
      border-bottom-right-radius: $option-border-radius;
      border-bottom-left-radius: $option-border-radius;
    }

    &:hover {
      background: darken(utils.$c-bg-btn, 7.5%);
    }
  }
}