@use '~/styles/utils.scss';

$dropdown-border-radius: 0.75rem;
$option-border-radius: utils.get-radius-for-wrapper-items($dropdown-border-radius);
$border-width: 0.1rem;

.instrument-dropdown {
  color: utils.$c-text-primary;
  font-size: 1.25em;
  flex: 0.25 1 0;
  background: #fff;
  border-radius: $dropdown-border-radius;
  border: $border-width solid #d6d6d6;
  cursor: pointer;
  position: relative;

  &__selected {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  &__options {
    position: absolute;
    left: 0;
    bottom: 107.5%;
    z-index: 2;
    width: 100%;
    background: #fff;
    border-radius: $dropdown-border-radius;
    border: $border-width solid #d6d6d6;
    padding: 0.5em;
  }

  &__option {
    padding: 1em;
    border-radius: $option-border-radius;

    &:hover {
      background: darken(utils.$c-bg-btn, 2.5%);
    }
  }
}