@use '~/styles/utils.scss';

.keyboard {
  position: absolute;
  margin: auto;
  inset: 0;
  display: flex;
  flex-flow: column;
  gap: 4em;
  width: clamp(110rem, 75vw + 2rem, 132rem);
  height: clamp(37.8125rem, 25.78125vw + 0.6875rem, 45.375rem);
  background: rgb(255, 255, 255);
  box-shadow: 0 0.75rem 0 rgba(0, 0, 0, 0.851);
  border-radius: 2.5em;
  padding: 4em;
  touch-action: manipulation;

  &__row--top {
    flex: 1;
  }

  &__row--bottom {
    flex: 6;
    display: flex;
    justify-content: space-between;
    gap: 4em;
  }

  &__header {
    width: max-content;
  }

  &__heading,
  &__subheading {
    color: utils.$c-text-primary;
    margin: 0;
  }

  &__heading {
    font-size: 2.75em;
    font-weight: 600;
  }

  &__subheading {
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 0.5em;
  }

  &__dots {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 2em;

    & span {
      padding: 0.3em;
      border-radius: 50%;
      background: utils.$c-text-primary;
    }

    & span:first-child {
      background: rgb(10, 255, 129)
    }
  }
}