@use '~/styles/utils.scss';

@function scaleDimension($scalar) {
  @return $scalar * (9 / 28);
}

.keyboard {
  position: absolute;
  margin: auto;
  inset: 0;
  display: flex;
  flex-flow: column;
  gap: 4em;
  background: rgb(250, 250, 250);
  box-shadow: 0 0.75rem 0 rgba(0, 0, 0, 0.851);
  border-radius: 2.5em;
  padding: 4em;
  touch-action: manipulation;

  /*
    We use the "scaleDimension" function so that the scale of the 
    keyboard and its components is consistent across screen sizes.
  */
  width: clamp(110rem, 75vw + 2rem, 132rem);
  height: clamp(scaleDimension(110rem), scaleDimension(75vw) + scaleDimension(2rem), scaleDimension(132rem));

  &__row--bottom {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4em;
  }

  &__header {
    width: max-content;
  }

  &__heading,
  &__subheading {
    color: utils.$c-text-primary;
    margin: 0;
  }

  &__heading {
    font-size: 2.625em;
    font-weight: 600;
  }

  &__subheading {
    font-size: 1.25em;
    font-weight: 400;
    margin-top: 0.4em;
  }

  &__dots {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 2em;

    & span {
      padding: 0.3em;
      border-radius: 50%;
      background: utils.$c-text-primary;
    }

    & span:first-child {
      background: rgb(10, 255, 129)
    }
  }
}