@use '@/_variables.scss';

.piano-key {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  padding-bottom: 1em;
  text-transform: uppercase;
  border: 0.125rem solid rgba(variables.$dark-blue, variables.$op-high);
  font-size: variables.$font-size-md;
}

.white-key {
  width: 100%;
  color: rgba(variables.$dark-blue, variables.$op-medium);
  background: variables.$off-white;
}

.black-key {
  width: 40%;
  height: 60%;
  z-index: 1;
  background: variables.$dark-blue;
  margin: 0 -1.25% 0;
  color: variables.$off-white;
}

.pressed-piano-key {
  background: variables.$gray !important;
  color: variables.$dark-blue !important;
}
