.piano-key {
  cursor: pointer;
  padding-bottom: 1em;
  text-transform: uppercase;
  border: 0.125rem solid var(--dark-blue-25);
  font-size: var(--font-size-md);
}

.white-key {
  width: 100%;
  color: var(--black-90);
  background: var(--white);
}

.black-key {
  width: 40%;
  height: 60%;
  z-index: 1;
  background: var(--dark-blue);
  margin: 0 -1.25% 0;
  color: var(--white);
}

.pressed-piano-key {
  background: var(--gray) !important;
  color: var(--black-90) !important;
}
