.piano-key {
  cursor: pointer;
  padding-bottom: 1em;
  text-transform: uppercase;
  border: 0.1rem solid var(--blue-25);
  font-size: var(--font-size-md);
}

.white-key {
  width: 100%;
  color: var(--black-80);
  background: #e0e2e1;
}

.white-key > h .white-key:active {
  background: grey;
}

.black-key {
  width: 40%;
  height: 60%;
  z-index: 1;
  background-color: #222329;
  margin: 0 -1.25% 0;
  color: var(--light-blue);
}
