.piano-key {
  cursor: pointer;
  padding-bottom: 1em;
  text-transform: uppercase;
  border: 0.1rem solid var(--dark-blue-25);
  font-size: var(--font-size-md);
}

.white-key {
  width: 100%;
  color: var(--black-80);
  background: var(--white);
}

.white-key:active,
.black-key:active {
  background: var(--gray);
  color: var(--black-80);
}

.black-key {
  width: 40%;
  height: 60%;
  z-index: 1;
  background: var(--dark-blue);
  margin: 0 -1.25% 0;
  color: var(--light-blue);
}
