.octave-controls {
  height: 100%;
}

.octave-controls__btns {
  height: 100%;
  padding: 0.25em 0;
  background: #e0e2e1;
  border-radius: 0.5rem;
  border: 0.075rem solid var(--blue-25);
}

.octave-controls__btn-arrow {
  margin: 0.5em;
  color: var(--black-80);
  font-weight: bold;
  font-size: var(--font-size-md);
}

.octave-controls__line {
  width: 40%;
  height: 0.1rem;
  background-color: var(--black-80);
}

.octave-controls__title {
  font-size: var(--font-size-base);
  color: var(--black-90);
}
