@use 'src/assets/styles/variables.scss';
@use 'src/assets/styles/placeholders.scss';

.keyboard-container {
  @extend %center-self;

  width: clamp(110rem, 75vw + 2rem, 125rem);
  height: clamp(31rem, 32.5vh + 0.75rem, 38rem);
}

.keyboard {
  display: inline-block;
  touch-action: manipulation;
  background: variables.$white;
  padding: 2.55%;
  width: 100%;
  height: 100%;
  box-shadow: 0 1.625rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.keyboard__top-row {
  @extend %flex-row;
  @extend %justify-content-space-btwn;

  width: 100%;
  margin-bottom: 2%;
  height: 20%;
}

.keyboard__bottom-row {
  @extend %flex-row;
  @extend %align-items-center;
  @extend %justify-content-space-btwn;

  column-gap: 4%;
  height: 80%;
}

.keyboard__logo {
  width: auto;
  height: 55%;
}
