@use '~/styles/utils.scss';

.keyboard {
  position: absolute;
  margin: auto;
  inset: 0;
  display: flex;
  flex-flow: column;
  background: #fff;
  box-shadow: 0 2.5rem 2.5em rgba(0, 0, 0, 0.20);
  border-radius: 2.5em;
  gap: 1em;
  padding: 4.25em;
  touch-action: manipulation;
  width: clamp(120rem, 82.5vw + 2rem, 140rem);
  aspect-ratio: 27 / 9;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__row--top {
    flex: 1;
    align-items: baseline;
    justify-content: space-between;
  }

  &__row--bottom {
    flex: 1.5;
    gap: 4em;
  }

  &__header {
    flex: 0.25 1 0;
  }

  &__heading,
  &__subheading {
    color: utils.$c-text-primary;
    margin: 0;
  }

  &__heading {
    font-size: 2.75em;
  }

  &__subheading {
    font-size: 1.325em;
    font-weight: 400;
    margin-top: 0.3em;
  }

  &__dots {
    display: flex;
    justify-content: space-between;
    width: 22.5%;
    margin-top: 2.25em;

    & span {
      padding: 0.3em;
      border-radius: 50%;
      background: #818181;
    }

    & span:first-child {
      background: #0aff81;
    }
  }
}