@use '~/styles/_variables.scss';

.keyboard {
  position: absolute;
  margin: auto;
  inset: 0;
  display: flex;
  flex-flow: column;
  gap: 4em;
  width: clamp(110rem, 75vw + 2rem, 132rem);
  height: clamp(38rem, 40vh + 0.75rem, 48rem);
  background: rgb(249, 249, 249);
  box-shadow: 0 0.75rem 0 rgba(0, 0, 0, 0.85);
  border-radius: 2.5em;
  padding: 4.25em;
  touch-action: manipulation;
}

.keyboard__row--top {
  flex: 1;
}

.keyboard__header {
  width: max-content;
}

.keyboard__heading,
.keyboard__subheading {
  color: variables.$color-text-primary;
  margin: 0;
}

.keyboard__heading {
  font-size: variables.$text-size-lg;
  font-weight: 600;
}

.keyboard__subheading {
  font-size: variables.$text-size-md;
  font-weight: 400;
  margin-top: 0.5em;
}

.keyboard__dots {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 2em;
}

.keyboard__dots span {
  padding: 0.3em;
  border-radius: 50%;
  background: variables.$color-text-primary;
}

.keyboard__dots span:first-child {
  background: rgb(10, 255, 129);
}

.keyboard__row--bottom {
  flex: 4;
  display: flex;
  justify-content: space-between;
  gap: 4em;
}
