@use '~/styles/utils.scss';

.keyboard {
  position: absolute;
  margin: auto;
  inset: 0;
  display: flex;
  flex-flow: column;
  background: #fafafa;
  box-shadow: 0 0.75rem 0 #000000d9;
  border-radius: 2.5em;
  gap: 0.5em;
  padding: 4em;
  touch-action: manipulation;

  /*
    We use the width to get the height so that the scale of the 
    keyboard and its components is consistent across screen sizes.
  */
  width: 120rem;
  height: 120rem * calc(30 / 100);

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__row--top {
    flex: 1;
    align-items: baseline;
    justify-content: space-between;
  }

  &__row--bottom {
    flex: 1.5;
    gap: 4em;
  }

  &__header {
    flex: 0.25 1 0;
  }

  &__heading,
  &__subheading {
    color: utils.$c-text-primary;
    margin: 0;
  }

  &__heading {
    font-size: 2.75em;
    font-weight: 600;
  }

  &__subheading {
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 0.4em;
  }

  &__dots {
    display: flex;
    justify-content: space-between;
    width: 22.5%;
    margin-top: 2em;

    & span {
      padding: 0.3em;
      border-radius: 50%;
      background: utils.$c-text-primary;
    }

    & span:first-child {
      background: #0aff81
    }
  }
}