$c-text-primary: rgb(110, 110, 110);

$text-size-lg: 2.75em;
$text-size-md: 1.5em;

$btn-spacing--container: 0.2rem;
$btn-spacing--item: calc($btn-spacing--container / 2);

$border-radius--container: 1rem;
$border-radius--item: calc($border-radius--container * 0.8);
