@use '~/styles/utils.scss';

* {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  background: #1a1a1a;
  font-family: utils.$font;
  overflow-x: visible;
  overflow-y: hidden;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

main {
  position: relative;
}

p,
button {
  font-family: inherit;
  font-weight: 400;
}

button {
  outline: none;
  border: transparent;
  background: transparent;
  cursor: pointer;
}